body{
	margin: 0;
	padding: 0;
}
main{
	padding-top: 2rem;
	background: #F4F3DD;
	width: 100vw;
	height: 100vh;
	font-family: sans-serif;
}
.sectionInput{
text-align: center;

	
}
.sectionText{
	width: 70vw;
	height: 20vh;
	background: #fad25a;
	margin-bottom: 1rem;
	font-size: 1rem;

}
.btn{
	display: block;
	margin: 0 auto;
	width: 70vw;
	height: 5vh;
}


.goalText{

}
.goalP{
	width: 80vw;
	overflow: auto;
	
	background: #fad25a;
	
	white-space: pre-wrap;
	margin: 10 auto 5 auto;
	padding: 0.4rem;

}
#counting{
	padding:0.3rem;
font-size: 1.3rem;
color: green;
}
.divCounting{
	padding: 1rem;
}
button{
border-radius: 5px;
	background: #fad25a;
	font-size: 0.9rem;
}

button:hover {
	background: #cc8923;
	font-size: 1rem;
}